/* Martel Sans */
@import url('<link href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600;700&family=Poppins:wght@300;400&display=swap" rel="stylesheet">');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html,
body {
    overscroll-behavior-y: none;

}

body {
    background-color: black;
}

.main {
    background-image: url(assets/images/bg.jpg);
    background-position: center center;
    background-size: max(1200px, 100vw);
    height: 70vh;
    position: relative;
    background-repeat: no-repeat;
}

.main .box {
    background-color: black;
    height: 70vh;
    width: 100%;
    opacity: 0.65;
    position: absolute;
    top: 0%;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

nav img {
    width: 150px;
    position: relative;
    z-index: 1;
}

nav button {
    position: relative;
    z-index: 1;
    padding: 5px;

}


.hero {
    font-family: "Martel Sans", sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    padding: 0 23px;
    text-align: center;
}

.hero h1 {
    font-weight: 700;
    font-size: 56px;
}

.hero span:nth-child(2) {
    font-weight: 500;
    font-size: 20px;
    margin: 20px;
}

.hero span:nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.separation {
    background-color: gray;
    padding: 3px;
}

.btn {
    padding: 6px 36px 6px 34px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    background-color: rgb(0 0 0 / 46%);
    border: 1px solid rgba(173, 173, 173, 0.46);
    color: white;
    cursor: pointer;

}



.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main input {
    padding: 8px 47px 8px 12px;
    font-size: 14px;
    border: none;
    color: white;
    border-radius: 4px;
    background-color: rgb(0 0 0 / 46%);
    border: 1px solid rgba(173, 173, 173, 0.46);
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.enjoy {
    padding: 45px 1px 25px 78px;
}

.second {
    width: 95%;
    max-width: 1300px;
    margin: 30px auto;
}

.second h2 {
    font-size: 24px;
    margin-bottom: 16px;
    margin-left: -78px;
    color: white;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}



.box-second {
    position: relative;
    min-height: 278px;
    padding: 24px 16px;
    color: white;
    border-radius: 16px;
    background: linear-gradient(135deg, #202044, #37173c);
    overflow: hidden;
}

.box-second h3 {
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 1.15;
}

.box-second p {
    margin: 0;
    color: lightgray;
    font-size: 16px;
    font-weight: 600px;
    line-height: 1.25;
    ;
}

.same {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 72px;
    /* Match your SVG viewbox width */
    height: 72px;
    /* Match your SVG viewbox height */
}



.trending {
    width: 95%;
    max-width: 1300px;
    margin: 30px auto;
}

.trending h2 {
    font-size: 24px;
    margin-bottom: 16px;
    margin-left: -78px;
    color: white;
}

.slider {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;

}


.movie {
    position: relative;
    height: 100%;

}

.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;

}

.movie span {
    color: black;
    position: absolute;
    left: -8px;
    bottom: 0px;
    font-size: 100px;
    font-weight: bold;
    -webkit-text-stroke: 2px white;
}

.faq h2 {
    font-size: 24px;
    margin-bottom: 16px;
    /* margin-left: -78px; */
    color: white;
    text-align: center;
}

.faq-box {
    display: flex;
    background-color: #383838;
    color: white;
    font-weight: 400;
    font-size: 24px;
    padding: 24px;
    max-width: 80vw;
    margin: 15px auto;
    justify-content: space-between;
}

.faq-box:hover {
    background-color: rgb(26, 26, 26);
    transition: all 1s ease-in-out;
}

.last-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    padding: 0 23px;
    text-align: center;
    flex-direction: column;
}

.hero-buttons-last {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 15px;

}


.btn-red-last {
    background-color: red;
    color: white;
    padding: 13px 24px;
    font-size: 20px;
}

.hero-buttons-last input {
    padding: 15px 400px 15px 12px;
    font-size: 15px;
    border: none;
    color: white;
    border-radius: 4px;
    background-color: rgb(0 0 0 / 46%);
    border: 1px solid rgba(173, 173, 173, 0.46);
}




.last-span {
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    color: #939393;
    margin-top: 50px;
    margin-bottom: 20px;
}

.last {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 80vw;
    margin: auto;
    gap: 15px;
}



.footer-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-item a {
    color: #939393;
    font-size: 14px;
    list-style: none;
}

.language {
    max-width: 80vw;
    margin: auto;
    margin-top: 50px;
}

.language-btn {
    padding: 6px 36px 6px 34px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    background-color: rgb(0 0 0 / 46%);
    border: 1px solid rgba(173, 173, 173, 0.46);
    color: white;
    cursor: pointer;
}

.netflix-end {
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
}

.netflix-end span {
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.7);
}

.netflix-end span:nth-child(2) {
    margin-top: 50px;
    margin-bottom: 25px;
}





/* Media Querery */

@media screen and (max-width: 1100px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .slider {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 850px) {
    .hero-buttons-last input {
        padding: 15px 200px 15px 12px
    }
}

@media screen and (max-width: 670px) {
    .slider {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 635px) {
    .hero-buttons-last input {
        padding: 15px 80px 15px 12px;
    }

    .hero-buttons-last{
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (max-width: 500px) {
    .last {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-buttons {
        flex-direction: column;
    }
    .main input{
        font-size: 18px;
    }

    .hero-buttons-last input {
        padding: 10px 58px 10px 12px;
    }
    
    .hero-buttons-last{
        flex-direction: column;
    }
    nav img {
        width: 125px;
    }
    .btn{
            padding: 6px 25px 6px 25px;
    }
}


@media screen and (max-width: 400px) {
    nav{
        max-width: 90vw;
    }
    .slider {
        grid-template-columns: repeat(2, 1fr);
    }

    nav img {
        width: 100px;
    }

    .btn {
        padding: 9px 15px 9px 15px;
    }

    .hero-buttons {
        flex-direction: column;
    }
    .main input{
        font-size: 18px;
    }

    .hero-buttons-last input {
        padding: 10px 30px 10px 12px;
    }

    .hero-buttons-last{
        flex-direction: column;
    }

    .hero h1 {
        font-weight: 700;
        font-size: 36px;
    }

    .hero span:nth-child(2) {
        font-weight: 400;
        font-size: 16px;
        margin: 20px;
    }

    .hero span:nth-child(3) {
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
    }
}


